<div class="large-12 column">

  <h1>New Category</h1>

  <%= form_for @category do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit "Add Category" %>
  <% end %>

  <%= link_to 'Create a drink', new_drink_path %><br>
  <%= link_to 'Back to Drinks!', drinks_path %><br>
  <%= link_to 'Featured Drinks!', featured_drinks_path %><br>
  <%= link_to 'Categories', categories_path %>
</div>
